<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Plan Your Adventure!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img class="wow bounceIn" src="/img/icons/myIconsCollection/png/003-giraffe.png" />
                    <h3>Victoria <br />Falls</h3>
                    <a href="/victoriafalls.html" class="btn btn-primary btn-xl">Meet a Giraffe</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                        <img class="wow bounceIn" src="/img/icons/myIconsCollection/png/002-shark.png" />
                    <h3>Cape <br />Town</h3>
                    <p class="btn btn-primary btn-xl">Coming Soon!</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                        <img class="wow bounceIn" src="/img/icons/myIconsCollection/png/001-man.png" />
                    <h3>Book an Unforgettable Trip Today!</h3>
                    <a href="/get-started.html" class="btn btn-primary btn-xl">Meet a Guide</a>
                </div>
            </div>
        </div>
    </div>
</section>