    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <img class="advImage" src="../img/tripimages/circleLion.png" />
                </div>
                <div class="text-center"><h1 style="padding-left:1%; color: orange;"> Explore South Africa. </h1></div>
                <hr style="border-color:black">
                </hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h4 class="text-center"><strong>Cape Town, South Africa is one of the most beautiful cities in the modern world with Table Mountain as the magnificent backdrop. Table Mountain is considered one of the 7 New Wonders of the Natural World and offers spectacular views of Cape Town from the top. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h4>    
            </div>
        </div>
        <h2 class="text-center" style="padding-bottom: 2%;">Itinerary</h2>
        <div class="row">
            <div class="col-lg-6 text-center">
                <ul style="list-style-type: none">
                    <li>6 days and 6 nights of 4 star accommodations in Cape Town and Hermanus</li>
                    <li>Private coach and driver</li>
                    <li>Table Mountain Aerial Cableway (to top of Table Mountain)</li>
                    <li>Sit on the back of an Ostrich</li>
                    <li>Shopping in Greenmarket Square and Cape Town Wharf</li>
                </ul>
            </div>
            <div class="col-lg-6 text-center" id="capgallery">
                <ul style="list-style-type: none">
                    <li>Amazing scenic drives along the southern coast of South Africa</li>
                    <li>Wine tasting and dinner at South African Winery</li>
                    <li>Cape Agulhas (The southern most point of African Continent)</li>
                    <li>Penguin Park</li>
                    <li>2 Days of Safari on game reserve</li>
                </ul>
            </div>
        </div>
    </div>