<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- Needs to be white, might have to edit the .png file cant change inline -->
                <img class="wow bounceIn" style=" padding-bottom: 2px; width: 64px" src="/img/icons/myIconsCollection/png/elephantFace.png" />
                    <h1 class="section-heading"><strong>Victoria Falls</strong></h1>
                    <h2 class="section-heading">Adventure</h2>
                    <hr class="light">
                    <p class="actionText">Experience Victoria Falls and all of the beauty of the the Zambezi River, and take a ride on the back of an elephant! </p>
                    <div class="spacerBox">
                        <!-- Spacer -->
                    </div>
                    <img class="mouseScroll bounceHeader animatedHeader" src="/img/icons/myIconsCollection/png/scrollMouse.png" />
                    <!--<a href="/destinations" class="btn btn-default btn-xl">Get Started</a>-->
                </div>
            </div>
        </div>
    </section>
    