<section> 
    <div class="container">
        <div class="row advBody2">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stay Connected With Us</h2>
                <hr class="primary">
                <p>Get in touch with us and we will keep you up to date with new tours, stories, and adventures. Or follow us on social media to follow us through the Africa Safari!</p>
                <p>Call us with your questions: <strong>(937) 213-1888‬</strong></p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://facebook.com/{{ site.facebook_username}}">
                <i class="fa fa-facebook fa-3x wow bounceIn" style="color:black" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" style="color:black" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}">
            <i class="fa fa-instagram fa-3x wow bounceIn" style="color:black" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>