<section>
 <div id="first-slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Item 1 -->
                <div class="item active slide1">
                    <div class="row"><div class="container">
                        <div class="col-md-3 text-right">
                            <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="/img/galleyImages/people/peeblesRev.png">
                        </div>
                        <div class="col-md-9 text-left">
                            <h3 data-animation="animated bounceInDown">"I feel like I got the best of Africa! Saw the Big 5 and Victoria Falls. Wow!"</h3>
                            <h4 data-animation="animated bounceInUp">Mark P.</h4>             
                         </div>
                    </div></div>
                 </div> 
                <!-- Item 2 -->
                <div class="item slide2">
                    <div class="row"><div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown">"The most thrilling experiences of my life, both wildlife and the Falls! Simply Amazing!"</h3>
                            <h4 data-animation="animated bounceInUp">Peggy P.</h4>
                         </div>
                        <div class="col-md-5 text-right">
                            <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="/img/galleyImages/people/peggyRev.png">
                        </div>
                    </div></div>
                </div>
                <!-- Item 3 -->
                <div class="item slide3">
                    <div class="row"><div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown">"New World made my family trip to a far-away land easy! I can't imagine traveling to Africa without them."</h3>
                            <h4 data-animation="animated bounceInUp">John C.</h4>
                         </div>
                        <div class="col-md-5 text-right">
                            <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="/img/galleyImages/people/johnRev.png">
                        </div>     
                    </div></div>
                </div>
                <!-- Item 4 -->
                <div class="item slide4">
                    <div class="row"><div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown">"I rode on the back of an elephant... Are you kidding me?!!! Best trip ever."</h3>
                            <h4 data-animation="animated bounceInUp">Olivia F.</h4>
                         </div>
                        <div class="col-md-5 text-right">
                            <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="/img/galleyImages/people/oliviaRev.png">
                        </div>  
                    </div></div>
                </div>
                <!-- End Item 4 -->
        
            </div>
            <!-- End Wrapper for slides-->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>